<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

<head>
    <meta charset="utf-8">
    <title>Admin Pannel</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/logo1.png">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>
        <header class="main-header style-2 navbar">
            <div class="col-brand">
                <a href="#" class="brand-wrap">
                    <img src="/assets/imgs/theme/logo1.png" class="logo" alt="Evara Dashboard">
                </a>
            </div>
          
        </header>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form action="/admin/" method="post">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Username or email" type="email" name="email">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input class="form-control" placeholder="Password" type="password" name="password">
                        </div>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100" name="login"> Login </button>
                        </div> <!-- form-group// -->
                    </form>

                    <% if(typeof message!=='undefined' ){ %>

                        <p style="color: green;">
                            <%= message %>
                        </p>
                        <% } %>

                            <% if(typeof errmessage!=='undefined' ){ %>

                                <p style="color: red;">
                                    <%= errmessage %>
                                </p>
                                <% } %>

                                    <% if(typeof successMessage!=='undefined' ){ %>

                                        <p style="color: green">
                                            <%= successMessage %>
                                        </p>
                                        <% } %>


                </div>
            </div>
        </section>
        <footer class="main-footer text-center">
            <p class="font-xs">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©Dude Men's Clothing
            </p>
            <p class="font-xs mb-30">All rights reserved</p>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

</html>